<div class="container">
  <div class="row">
    <div class="col-md-5 col-centered">
      <section class="widget">
        <header>
          <h3 class="widget-title text-uppercase text-center">Registro </h3>
        </header>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-horizontal form-label-left"}) do |f| %>
            <fieldset>
              <div class="form-group">
                <label class="control-label col-md-4" for="name">E-Mail</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-user"></i>
                    </span>
                    <%= f.email_field :email, class: "form-control input-transparent", required: "required" %>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-4" for="name">Contraseña</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-lock"></i>
                    </span>
                    <%= f.password_field :password, class: "form-control input-transparent", required: "required", html: {autocomplete: "off"} %>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-4" for="name">Confirmación</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-lock"></i>
                    </span>
                    <%= f.password_field :password_confirmation, class: "form-control input-transparent", required: "required", html: {autocomplete: "off"} %>
                  </div>
                </div>
              </div>
            </fieldset>
            <div class="row login-action">
              <button type="submit" class="btn btn-login col-md-5 text-uppercase" style="height: 40px">Registrarse</button>
            </div>
        <% end %>
      </section>
    </div>
  </div>
</div>

